/knit.sh

# Generated documentation
/docs/build/
/docs/doxygen/
/docs/source/api/public.rst
/docs/source/api/private.rst
/docs/source/stitch/index.rst
/docs/source/stitch/_categories/
/docs/.venv/

# Assembled website
/web/build/
